<%

    var className = 'conversation-item is_can_select clearfix';

    if (is_my) {
        className += ' item-right';
    } else {
        className += ' item-left';
    }

    if (is_new) {
        className += ' new'
    }

    var temp = temp || false;

%>

<div id="nm-message-<%= message.id %>" class="<%= className %>" rel="<%= message.id %>">

    <div class="nm-message-check"></div>

    <div class="conversation-user">
        <img src="<%= message.user.avatar %>" class="nm-message-user-photo">
    </div>

    <div class="conversation-body">

        <% if (!temp) { %>
            <div class="author"><%= message.user.nickname %></div>
        <% } %>

        <div class="msg-content">
            <% if (!temp) { %>
                <div class="nm-message-time"><span><%= message.time %></span></div>
            <% } %>
            <span class="nm-message-text"><%= message.content %></span>
        </div>

    </div>

</div>